@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$danger: rgb(83, 191, 157);
$primary: hsl(171, 100%, 41%);
$link: hsla(34, 32%, 43%, 0.507);
$success: hsl(141, 71%, 48%);
$warning: hsl(56, 100%, 67%);
$info: hsl(204, 86%, 53%);


@import "bulma/bulma";

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .main-content {
    flex: 1;
  }
  .footer {
    padding: 3rem 1.5rem 3rem;
  }
}




